# Bibliotecas principais
streamlit
pandas
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Dependências adicionais
python-dotenv
pytz

# Para manipulação de arquivos e uploads
pathlib

# Para animações e feedback visual
streamlit-extras

# Para validação de dados e expressões regulares
regex
