# Bibliotecas principais
streamlit
pandas
google-auth
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Dependências adicionais
python-dotenv
pytz
pathlib

# Para manipulação de arquivos e uploads
requests
requests-oauthlib

# Para animações e feedback visual
streamlit-extras
streamlit-lottie

# Para validação de dados e expressões regulares
regex

# Para gráficos interativos
plotly

# Para melhor tratamento de erros e logs
rich

# Para suporte a tipos avançados em Python
typing-extensions

# Para integração com APIs HTTP
python-dateutil

# Para processamento de strings e formatação
markdown
markdown-it-py
